<div class="noties-container" ng-class="getNotiesClasses()"
     ng-controller="Noty" ng-cloak="">
    <div class="noty" ng-class="noty.getClasses()"
         ng-repeat="noty in getNoties() track by noty.id">
        <div class="noty-header">
            <div class="noty-title" ng-if="noty.title" ng-bind="noty.title"></div>
            <div class="noty-close" ng-click="noty.remove()">
                <i class="mdi mdi-close"></i>
            </div>
        </div>
        <div class="noty-content">
            <div class="noty-icon" ng-if="noty.icon">
                <i class="mdi" ng-class="noty.icon"></i>
            </div>

            <div class="noty-message" ng-bind-html="noty.message"></div>
        </div>
        <div class="noty-lifetime" ng-if="noty.lifetime">
            <div class="noty-lifetime-line" ng-style="noty.getLifetimeStyles()"></div>
        </div>
    </div>

    <div class="noties-button" ng-if="getNoties().length > 1" ng-click="clearAll()">
        Clear all
    </div>
</div>