<div class="pages-menu" ng-if="showPagesMenu()"
     ng-class="pagesMenuClasses()">

    <div class="pages-menu--scroll-indicator"></div>

    <div class="pages-menu--aligner"></div>

    <div class="pages-menu--items">
        <div ng-repeat="page in pages track by $index"
             class="pages-menu--item" ng-click="openPage(page)"
             ng-if="!isHidden(page)" ng-class="{'-active': isPageActive(page)}">

            <i class="mdi" ng-class="page.icon"></i>
        </div>
    </div>
</div>
