
<div ng-if="ready" class="page-container">
    <ng-include src="'./templates/tileboards/shared/camera-popup.html'"></ng-include>
    <ng-include src="'./templates/tileboards/shared/door-entry-popup.html'"></ng-include>
    <ng-include src="'./templates/tileboards/shared/alarm-popup.html'"></ng-include>
    <ng-include src="'./templates/tileboards/shared/datetime-popup.html'"></ng-include>
    <ng-include src="'./templates/tileboards/shared/pages-menu.html'"></ng-include>
    <ng-include src="'./templates/tileboards/shared/header.html'"></ng-include>
    <ng-include src="'./templates/tileboards/shared/pages.html'"></ng-include>
</div>

<ng-include src="'./templates/tileboards/shared/screensaver.html'"></ng-include>
<ng-include src="'./templates/tileboards/shared/noties.html'"></ng-include>

<div id="back-to-main-title">
    <a ng-href="{{router.MAIN}}">
        <i class="mdi mdi-arrow-left-bold-circle-outline"></i>
    </a>
</div>